# purplship dashboard environment variables

# purplship server address
# PURPLSHIP_HOSTNAME=http://0.0.0.0:5002
NEXT_PUBLIC_PURPLSHIP_API_URL=http://0.0.0.0:5002


# next-auth config
NEXTAUTH_URL=http://0.0.0.0:3000
JWT_SECRET=n*s-ex6@ex_r1i%bk=3jd)p+lsick5bi*90!mbk7rc3iy_op1r
