purplship==2021.7
purplship-server==2021.7.1
purplship-server.client==2021.7.1
purplship-server.core==2021.7.1
purplship-server.events==2021.7.1
purplship-server.graph==2021.7
purplship-server.manager==2021.7.1
purplship-server.pricing==2021.7
purplship-server.proxy==2021.7
purplship.aramex==2021.7
purplship.australiapost==2021.7
purplship.canadapost==2021.7
purplship.canpar==2021.7
purplship.dhl-express==2021.7
purplship.dhl-universal==2021.7
purplship.dicom==2021.7
purplship.eshipper==2021.7
purplship.fedex==2021.7
purplship.freightcom==2021.7
purplship.purolator==2021.7
purplship.royalmail==2021.7
purplship.sendle==2021.7
purplship.sf-express==2021.7
purplship.tnt==2021.7
purplship.ups==2021.7
purplship.usps==2021.7
purplship.usps-international==2021.7
purplship.yanwen==2021.7
purplship.yunexpress==2021.7
