Django==3.2.10

carrier.aramex==2021.2
carrier.australiapost==2021.2.1
carrier.canadapost==2021.7
carrier.canpar==2021.2
carrier.dhl-express==2021.4
carrier.dhl-universal==2021.2.1
carrier.dicom==2021.2.1
carrier.fedex==2021.4
carrier.purolator==2020.4.1
carrier.royalmail==2021.2.1
carrier.sendle==2021.2.1
carrier.sf-express==2021.2
carrier.tnt==2021.3
carrier.ups==2020.3.1
carrier.usps==2021.6
carrier.yanwen==2021.2.1
carrier.yunexpress==2021.2.1

purplship==2021.8.1
purplship-server==2021.7.7
purplship-server.client==2021.7.3
purplship-server.core==2021.7.8
purplship-server.events==2021.7.7
purplship-server.graph==2021.7
purplship-server.manager==2021.7.7
purplship-server.pricing==2021.7
purplship-server.proxy==2021.7
purplship.aramex==2021.7
purplship.australiapost==2021.8
purplship.canadapost==2021.8.1
purplship.canpar==2021.8
purplship.dhl-express==2021.8.1
purplship.dhl-universal==2021.8
purplship.dicom==2021.8
purplship.eshipper==2021.7
purplship.fedex==2021.8.3
purplship.freightcom==2021.7
purplship.purolator==2021.8
purplship.royalmail==2021.8
purplship.sendle==2021.8
purplship.sf-express==2021.8
purplship.tnt==2021.8
purplship.ups==2021.8
purplship.usps==2021.8
purplship.usps-international==2021.8
purplship.yanwen==2021.8
purplship.yunexpress==2021.8
